@inject IUserService userService

@if (userService.IsUserAdmin)
{
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab">
                <NavLink class="waves-effect waves-light" href="Admin" Match="NavLinkMatch.All">
                    Administrator
                </NavLink>
            </li>
            <li class="tab">
                <NavLink class="waves-effect waves-light" href="Admin/Products" Match="NavLinkMatch.All">
                    Produkter
                </NavLink>
            </li>
            <li class="tab">
                <NavLink class="waves-effect waves-light" href="Admin/Inquiries" Match="NavLinkMatch.All">
                    Ordre
                </NavLink>
            </li>
        </ul>
    </div>
}


@code {
    protected override void OnInitialized()
    {
        userService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        userService.OnChange -= StateHasChanged;
    }
}
