@inject IJSRuntime JSRuntime

<div class="fixed-action-btn">
    <NavLink class="btn-floating btn-large" href="basket">
        <i class="large material-icons">shopping_cart</i>
    </NavLink>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("FixedActionButton").ConfigureAwait(false);
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}