<div class="card grey darken-4">
    <div class="card-content">
        <span class="card-title truncate white-text center-align">@Title</span>
    </div>
</div>
<div class="divider"></div>

@code {
    [Parameter]
    public string Title { get; set; }
}
