@inject IUserService userService
@inject IJSRuntime JSRuntime
<!-- Modal Structure -->
<div id="modalLogin" class="modal">
    <EditForm Model="@model" OnValidSubmit="@Login">
        <div class="modal-content">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <InputText class="" type="text" id="username" @bind-Value="model.Username"></InputText>
                    <label for="username">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <InputText class="" type="password" id="password" @bind-Value="model.Password"></InputText>
                    <label for="password">Password</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="register" class="waves-effect waves-green btn-flat">Register</a>
            <button type="submit" class="waves-effect waves-green btn-flat">Login</button>
        </div>
    </EditForm>
</div>


@code {
    AuthenticateModel model = new AuthenticateModel();

    private async Task Login()
    {
        var success = await userService.TryLogin(model);
        if (!success)
        {
            // display error
        }

        await JSRuntime.InvokeVoidAsync("CloseModal", "modalLogin").ConfigureAwait(false);
    }
}