<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="" class="brand-logo center">Logo</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <NavLink ActiveClass="disabled" class="waves-effect waves-light" href="" Match="NavLinkMatch.All">
                            Home
                        </NavLink>
                    </li>
                    <li>
                        <NavLink ActiveClass="disabled" class="waves-effect waves-light" href="counter">
                            Counter
                        </NavLink>
                    </li>
                    <li>
                        <NavLink ActiveClass="disabled" class="waves-effect waves-light" href="fetchdata">
                            Fetch data
                        </NavLink>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

@code {
}
