@page "/basket"
@inject IBasketService basketService

<h3>BasketPage</h3>

@foreach (var item in basketService.Items)
{
    <p>@item.ProductTitle: Amount @item.Count, total: @item.Total DKK</p>
}

@code {

}
