@page "/ConfirmEmail"
@page "/ConfirmEmail/{emailConfirmationTokenString}"

@if (EmailConfirmationToken == default)
{
    <p>We have sent you an email, please check your inbox and confirm!</p>
}
else
{
    <p>Thank you for confirmation your email!</p>
}

@code{
    [Parameter]
    public string EmailConfirmationTokenString { get; set; }

    private Guid EmailConfirmationToken { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Guid.TryParse(EmailConfirmationTokenString, out var token))
            EmailConfirmationToken = token;

        Console.WriteLine(EmailConfirmationToken);

        // Call API with this token
    }
}