@page "/confirmation/{inquiryIdString}"

<ul class="tabs">
    <li class="tab col s4 disabled"><a href="checkout">INFORMATION</a></li>
    <li class="tab col s4 disabled"><a href="#Payment">Payment</a></li>
    <li class="tab col s4"><a class="active">Confirmation</a></li>
</ul>

<p>@InquiryId</p>

@code{
    [Parameter]
    public string InquiryIdString { get; set; }

    private Guid InquiryId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Guid.TryParse(InquiryIdString, out var inquiryId))
            InquiryId = inquiryId;

        // FETCH INQUIRY
    }
}