@page "/products"
@page "/products/{productCategory}"
@inject IConfiguration config
@inject Shop.Frontend.Infrastructure.IApiGateway api

<div class="section">
    <div class="row col s12">
        @if (!string.IsNullOrEmpty(ProductCategory))
        {
            <Header Title="@ProductCategory"></Header>
        }
    </div>

    <div class="row">
        @if (products == null)
        {
            <ProgressBar />
        }
        else
        {
            @foreach (var product in products)
            {
                <Product ProductModel="product"></Product>
            }
        }
    </div>
</div>

<FixedActionButton />

@code {
    [Parameter]
    public string ProductCategory { get; set; }

    public IEnumerable<ProductModel> products;

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrEmpty(ProductCategory))
        {
            products = await api.Get<IEnumerable<ProductModel>>("products");
        }
        else
        {
            var queryParam = new Shop.Frontend.Infrastructure.QueryParam("category", ProductCategory);
            products = await api.Get<IEnumerable<ProductModel>>("products", queryParams: queryParam);
        }
    }
}
